<p-toast></p-toast>
<div class="card page-content">
    <div class="main-content">
        <div
            class="flex flex-column sm:flex-row justify-content-between align-items-stretch gap-3 mb-4"
        >
            <!-- Filter Buttons Group -->
            <div class="flex flex-wrap gap-2 sm:gap-3 mb-2 sm:mb-0">
                <p-button
                    severity="{{ getButtonSeverity('all') }}"
                    label="All"
                    (click)="getDoctorsList('all')"
                    styleClass="rounded-2 flex-1 sm:flex-initial"
                />
                <p-button
                    severity="{{ getButtonSeverity('approved') }}"
                    label="Approved"
                    (click)="getDoctorsList('approved')"
                    styleClass="rounded-2 flex-1 sm:flex-initial"
                />
                <p-button
                    severity="{{ getButtonSeverity('pending') }}"
                    label="Pending"
                    (click)="getDoctorsList('pending')"
                    styleClass="rounded-2 flex-1 sm:flex-initial"
                />
            </div>

            <!-- Add Doctor Button -->
            <div class="sm:w-auto">
                <p-button
                    styleClass="rounded-2"
                    severity="primary"
                    label="Add Doctor"
                    icon="pi pi-plus"
                />
            </div>
        </div>

        <p-progressSpinner
            *ngIf="loading"
            styleClass="overlay-spinner"
        ></p-progressSpinner>

        <p-table
            *ngIf="!loading"
            [value]="doctors"
            [paginator]="true"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rowsPerPageOptions]="rowsPerPageOptions"
            styleClass="p-datatable-gridlines"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="doctor.name" style="width: 25%">
                        {{ labelConstants.Name }}
                        <p-sortIcon field="doctor.name" />
                    </th>
                    <th pSortableColumn="doctor.specialty" style="width: 15%">
                        {{ labelConstants.Specialty }}
                        <p-sortIcon field="doctor.specialty" />
                    </th>
                    <th pSortableColumn="doctor.city" style="width: 15%">
                        <div
                            class="flex justify-content-between align-items-center"
                        >
                            <div class="flex align-items-center gap-2">
                                {{ labelConstants.City }}
                                <p-sortIcon field="doctor.city" />
                            </div>
                            <p-columnFilter
                                type="text"
                                field="doctor.city"
                                display="menu"
                                [showOperator]="false"
                                [showMatchModes]="false"
                                [showAddButton]="false"
                                placeholder="Search by city"
                                class="filter-align-right"
                            ></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="doctor.isApproved" style="width: 20%">
                        {{ labelConstants.Approved }}
                        <p-sortIcon field="doctor.isApproved" />
                    </th>
                    <th pSortableColumn="doctor.is_active" style="width: 20%">
                        {{ labelConstants.Active }}
                        <p-sortIcon field="doctor.is_active" />
                    </th>
                    <th style="width: 5%">
                        {{ labelConstants.Actions }}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-doctor>
                <tr>
                    <td>
                        <div class="flex align-items-center">
                            <img
                                class=""
                                width="33"
                                height="33"
                                [src]="doctor.doctorPhoto"
                                alt="user"
                                (error)="handleImageError($event)"
                            />
                            <p
                                class="ml-2 font-semibold underline cursor-pointer"
                                (click)="showDoctorProfile(doctor.id)"
                            >
                                {{ doctor.User.name }}
                            </p>
                        </div>
                    </td>
                    <td>{{ doctor.specialty }}</td>
                    <td>{{ doctor.city }}</td>
                    <td>
                        <p-tag
                            value="Approved"
                            severity="doctor.isApproved ? 'primary' : 'secondary'"
                            (click)="updateDoctorStatus(doctor)"
                            [styleClass]="
                                doctor.isApproved ? '' : 'bg-secondary'
                            "
                        />
                        <p-tag
                            class="ml-1"
                            value="Pending"
                            [severity]="doctor.isApproved ? secondary : primary"
                            [styleClass]="
                                doctor.isApproved ? 'bg-secondary' : ''
                            "
                            (click)="updateDoctorStatus(doctor)"
                        />
                    </td>
                    <td>
                        <p-tag
                            value="Active"
                            severity="doctor.is_active ? '' : 'bg-secondary'"
                            [styleClass]="
                                doctor.is_active ? '' : 'bg-secondary'
                            "
                            (click)="changeDoctorActiveStatus(doctor)"
                        />
                        <p-tag
                            class="ml-1"
                            severity="doctor.is_active ? 'bg-secondary' : ''"
                            value="Suspend"
                            [styleClass]="
                                doctor.is_active ? 'bg-secondary' : ''
                            "
                            (click)="changeDoctorActiveStatus(doctor)"
                        />
                    </td>
                    <td>
                        <i
                            class="text-gray-600 bg-gray-200 border-round-3xl p-2 text-md mx-2 pi pi-trash"
                            (click)="deleteDoctor(doctor.id)"
                        ></i>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [colSpan]="6" class="text-center mt-3 text-lg">
                        {{ labelConstants.NoDoctor }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
