<div class="card page-content">
    <div class="main-content">
        <div class="flex align-items-center justify-content-center gap-2 mb-4">
            <img
                class="border-circle"
                [src]="pfp"
                width="50"
                height="50"
                alt="pfp"
                (error)="handleImageError($event)"
            />
            <p class="my-0 font-bold text-4xl text-primary">
                {{ doctor.User.name }}
            </p>
            <div *ngIf="doctor.isApproved">
                <i class="pi pi-check-circle text-primary font-bold p-2 border-round-3xl"></i>
            </div>
        </div>

        <div class="card">
            <div class="flex align-items-center gap-2 text-2xl font-bold mb-4">
                <i class="pi pi-user text-2xl"></i>
                <p>
                    {{ labelConstants.DoctorDetails }}
                </p>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.RegistrationNo }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.RegistrationNo"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.registrationNumber }}
                    </p-fieldset>
                </div>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.Experience }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.RegistrationNo"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.yearsOfExperience }} years
                    </p-fieldset>
                </div>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.Degree }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.Degree"
                        styleClass="floating-legend-fieldset"
                    >
                        <div class="flex align-items-center justify-content-between">
                            <p class="my-0">{{ doctor.degree }}</p>
                            <a>{{ labelConstants.ViewDegree }}</a>  
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid flex align-items-center gap-1">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.Specialty }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.Specialty"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.specialty }}
                    </p-fieldset>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="flex align-items-center gap-2 text-2xl font-bold mb-4">
                <i class="pi pi-phone text-2xl"></i>
                <p>
                    {{ labelConstants.ContactDetails }}
                </p>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.ContactNo }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.ContactNo"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.User.phone }}
                    </p-fieldset>
                </div>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.Email }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.Email"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.email }}
                    </p-fieldset>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="flex align-items-center gap-2 text-2xl font-bold mb-4">
                <i class="pi pi-building text-2xl"></i>
                <p>
                    {{ labelConstants.ClinicDetails }}
                </p>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.ClinicName }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.ClinicName"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.clinicName }}
                    </p-fieldset>
                </div>
            </div>

            <div class="grid flex align-items-center gap-1 mb-3">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.ClinicContactNo }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.ClinicContactNo"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.clinicContactNumber }}
                    </p-fieldset>
                </div>
            </div>

            <div class="grid flex align-items-center gap-1">
                <div class="col-2">
                    <p class="font-semibold">
                        {{ labelConstants.ClinicAddress }}
                    </p>
                </div>
                <div class="col">
                    <p-fieldset
                        [legend]="labelConstants.ClinicAddress"
                        styleClass="floating-legend-fieldset"
                    >
                        {{ doctor.address }}
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
