<p-toast position="top-right" />
<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
    <div class="flex flex-column align-items-center justify-content-center">
        <div class="forgot-password-container">
            <div
                class="w-full surface-card py-8 px-5 sm:px-8 forgot-password-card"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <img
                        src="assets/demo/images/login/avatar.png"
                        alt="Image"
                        height="50"
                        class="mb-3"
                    />
                    <div class="text-900 text-3xl font-medium mb-3">
                        {{ labelConstants.ForgotPassword }}
                    </div>
                    <span class="text-600 font-medium">
                        {{ labelConstants.EnterEmail }}
                    </span>
                </div>
                <form
                    [formGroup]="ForgotPasswordForm"
                    (ngSubmit)="submitForgotPasswordForm()"
                >
                    <div>
                        <div class="mb-5">
                            <label
                                for="contact"
                                class="block text-900 text-xl font-medium mb-2"
                            >
                                {{ labelConstants.Contact }}
                            </label>
                            <input
                                id="contact"
                                formControlName="phone"
                                type="text"
                                placeholder="Contact Number"
                                pInputText
                                class="w-full md:w-30rem"
                                style="padding: 1rem"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        ForgotPasswordFormControls['phone'].touched &&
                                        ForgotPasswordFormControls['phone'].invalid
                                }"
                            />
                            <div
                                class="text-red-400"
                                *ngIf="
                                    ForgotPasswordFormControls['phone'].touched &&
                                    ForgotPasswordFormControls['phone'].invalid
                                "
                            >
                                <span
                                    *ngIf="
                                        ForgotPasswordFormControls['phone'].errors
                                            ?.required
                                    "
                                    >{{ commonErrors.ContactRequired }}</span
                                >
                                <span
                                    *ngIf="
                                        ForgotPasswordFormControls['phone'].errors
                                            ?.pattern
                                    "
                                    >{{ commonErrors.ContactNoLength }}</span
                                >
                            </div>
                        </div>

                        <button
                            type="submit"
                            pButton
                            pRipple
                            label="Send OTP"
                            class="w-full p-3 text-xl"
                        ></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
