.login-container {
    border-radius: 56px;
    padding: 0.3rem;
    background: linear-gradient(
        180deg,
        var(--primary-color) 10%,
        rgba(33, 150, 243, 0) 30%
    );
}

.login-card {
    width: 100%;
    background: var(--surface-card);
    padding: 2.5rem;
    border-radius: 53px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}

.login-card:focus-within {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    background: linear-gradient(
        180deg,
        var(--primary-color) 10%,
        rgba(33, 150, 243, 0) 30%
    );
}
